.nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #00566b;
}

.nav-title {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-title p {
    margin: 0 0 0 1rem;
    padding: 0;
    font-size: 2.1em;
    color: #212121c3;
}

.nav-title h1 {
    margin: 0;
    font-size: 2.5em;
}

.user-items ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 7vw;
}

.search-main {
    display: flex;
    background-color: #9ddcd3;
}

.search-left-side {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-container {
    width: 50%;
    margin: 7rem;
}

.search.form-select {
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-right-side {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-btn {
    text-align: center;
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    border: 4px solid black;
    box-shadow: rgb(115, 115, 115) 0px 8px 24px;
    font-size: 5em;
}

.search-btn:hover {
    color: transparent;
    background-image: url(./assets/oliver-stone-caricature.jpg);
    box-shadow: rgb(0, 0, 0) 0px 10px 26px;
}

.search-btn:focus {
    border: 2px solid black;
}