.landing-body {
    background-color: white;
}

.landing-image-container {
    background-image: url(./assets/notepad.jpg);
    background-size: cover;
    background-position: center;
}

.landing-main {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

.landing-main h2 {
    font-size: 8em;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 2rem;
}

.landing-main-signup-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.75rem 6rem;
    background: lightblue;
    margin-bottom: 1.5rem;
    transition: background-color 250ms;
}

.landing-main-signup-btn:hover {
    cursor: pointer;
    background-color: white;
}

.landing-bottom-half {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.landing-bottom-half h3 {
    font-size: 2.5em;
}

.landing-bottom-half p {
    max-width: 1000px;
    font-size: 1.3em;
    text-align: justify;
}