.nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #00566b;
}

.nav-title h1 {
    font-size: 2.5em;
    color: black;
}

.user-items div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.user-items div button {
    margin-right: 1rem;
}

.user-items div p {
    font-size: 1.2em;
    margin: 0 3rem 0 0;
    padding: 0;
    color: black;
    cursor: pointer;
}